#footer {
  bottom: 0;
  position: absolute;
}

#available_tags_div {
  margin-top: 10px;
}

#available_tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#available_tags li {
  display: inline;
  margin-right: 5px;
}

.link_id {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

.deprecated_text {
  display: inline-block;
  margin-right: 5px;
  text-decoration: line-through;
}

.confirmed_text {
  display: inline-block;
  margin-right: 5px;
  color: darkgreen;
}